<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
		              type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Redbox.Shell.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Redbox.Shell.Properties.Settings>
			<setting name="StartupDirectories" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>C:\Documents and Settings\All Users\Start Menu\Programs\Startup</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="StartupFile" serializeAs="String">
				<value>c:\startup.bat</value>
			</setting>
			<setting name="StartupFileMask" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>*.lnk</string>
						<string>*.exe</string>
						<string>*.bat</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="StartupExclusions" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>dvd</string>
						<string>cleanup</string>
					</ArrayOfString>
				</value>
			</setting>
			<!-- 
                ===========================================================
                
                The hot key sequence should be specified as "[modifier key, ...] + [key, ...]"
                 + At least one modifier key and one regular key is required
                 + Multiple keys should be comma separated
                 + The modifier key(s) and regular key(s) should be sepated by a "+"
                 
                 The list of modifier keys is listed below. Proper casing must be used.
                    http://msdn.microsoft.com/en-us/library/system.windows.input.modifierkeys.aspx
                    
                 The list of regular keys is listed below. Proper casing must be used.
                    http://msdn.microsoft.com/en-us/library/system.windows.input.key.aspx
                    
                 ===========================================================
            -->
			<setting name="AttentionSequene" serializeAs="String">
				<value>Control, Alt + Enter</value>
			</setting>
			<setting name="KioskEnginePath" serializeAs="String">
				<value>C:\Program Files\Redbox\REDS\Kiosk Engine\bin\kioskengine.exe</value>
			</setting>
			<setting name="Wallpaper" serializeAs="String">
				<value>C:\Redbox\background.bmp</value>
			</setting>
			<setting name="KioskEngineIPCUrl" serializeAs="String">
				<value>rcp://localhost:8004</value>
			</setting>
		</Redbox.Shell.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>