<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net46" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net46" />
  <package id="ILMerge" version="3.0.41" targetFramework="net46" />
  <package id="jayrock" version="0.9.16530.1" targetFramework="net46" />
  <package id="jayrock-json" version="0.9.16530" targetFramework="net46" />
  <package id="log4net" version="1.2.10" targetFramework="net46" />
  <package id="Quartz" version="2.2.3" targetFramework="net46" />
  <package id="SevenZip" version="19.0.0" targetFramework="net46" />
  <package id="SharpZipLib.NETStandard" version="1.0.7" targetFramework="net46" />
</packages>